      <mt-carousel></mt-carousel>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
        <div class="col-lg-4" *ngFor="let mark of marketing">
            <mt-card [card]="mark"></mt-card>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <!-- START THE FEATURETTES -->
        <span *ngFor="let feature of features">
            <mt-feature-divider></mt-feature-divider>
            <mt-feature [feature]="feature"></mt-feature>
        </span>

        <mt-feature-divider></mt-feature-divider>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
